@import "../../sass/utils/container";
@import "../../sass/utils/mixins";
@import "../../sass/utils/variables";

.wrapper {
  padding-bottom: 88px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #333333;
  @include tablet {
    padding-bottom: 362px;
    background-position: center;
  }
  @include desktop {
    padding-bottom: 270px;
  }
}

.wrapperTitle {
  color: getColor("clr-white");
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 271px;
  margin-bottom: 24px;
  padding-top: 160px;
  @include tablet {
    width: 530px;
    padding-top: 378px;
  }
  @include desktop {
    padding-top: 272px;
    width: auto;
  }
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 16px;
  @include tablet {
    font-size: 55px;
    line-height: 75px;
  }
}

.wrapperSub {
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    width: 412px;
  }
  @include desktop {
    width: auto;
  }
}

.subtitle {
  font-size: 26px;
  line-height: 32px;
  @include tablet {
    font-size: 40px;
    line-height: 48px;
  }
}

.button {
  background-color: getColor("clr-bg");
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  color: getColor("clr-white");
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-size: 18px;
}

.buttonIcon {
  width: 7px;
  height: 11px;
}
