@import "../../sass/utils/mixins";
@import "../../sass/utils/variables";

.wrapperNav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  min-height: 50px;
  width: 100%;
  padding-top: 20px;
  z-index: 1;
  cursor: pointer;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.wrapperNavScroll {
  background-color: rgba(4, 4, 4, 0.5);
}

.wrapperLogo {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  @include transition-animation(all);
  &:hover .logo,
  &:focus .logo {
    transform: scale(1.04);
    fill: getColor("clr-acc");
  }
  &:hover .logoFirstTitle,
  &:focus .logoFirstTitle {
    transform: scale(1.04);
    color: getColor("clr-acc");
  }
  @include tablet {
    margin-bottom: 0;
    margin-right: 73px;
  }
  @include desktop {
    margin-right: 552px;
  }
}

.logo {
  width: 39px;
  height: 31px;
  fill: getColor("clr-bg");
  @include desktop {
    width: 40px;
  }
}

.logoFirstTitle {
  color: getColor("clr-bg");
  font-size: 28px;
  line-height: 38px;
  font-style: normal;
  @include tablet {
    font-size: 35px;
    line-height: 48px;
  }
}

.logoSecondTitle {
  color: getColor("clr-white");
  font-size: 28px;
  line-height: 38px;
  margin-left: 5px;
  @include tablet {
    font-size: 35px;
    line-height: 48px;
  }
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: getColor("clr-white");
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  @include tablet {
    font-size: 18px;
    line-height: 25px;
    gap: 20px;
  }
  @include desktop {
    gap: 46px;
  }
}

.navItem {
  @include transition-animation(all);
  position: relative;
  &:hover::after,
  &:focus::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-radius: 2px;
    transform: translateY(15px);

    width: 100%;
    height: 2px;
    background-color: getColor("clr-bg");
  }
}
